body{
    text-align: center;
    background-color: aquamarine;
}

img{
    width: 80%;
}

h1{
    background-color: aquam;
}

.link{
    margin: 10px;
}

.ways{
    background-color: rgb(129, 222, 228);
    
}